@media screen and (min-width: 1281px) {
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 1020px;
        height: 213px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 290px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        flex-direction: column;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 30px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 5px;
    }
    
    .cardText {
        display: flex;
        margin-left: 5px;
        margin-right: 15px;
    }
    
    .cardTextLocation{
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        font-weight: 600;
        margin-left: 9px;
        margin-right: 10px;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: flex;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 880px;
        height: 213px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 290px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        flex-direction: column;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 30px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 581px;
        margin-left: 9px;
    }
    
    .cardText {
        display: flex;
    }
    
    .cardTextLocation{
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: flex;
        font-size: 10px;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 1024px) and (max-height: 768px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 720px;
        height: 213px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 290px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 20px;
        margin-left: 12px;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        width: max-content;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        display: none;
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
        width: max-content;
    }
    
    .cardTextPrice {
        display: flex;
        font-weight: 600;
        color: #d50000;
        width: max-content;
    }
    
    .cardDescContainer {
        display: flex;
        max-width: 400px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        width: max-content;
    }
    
    .heightIcon {
        display: none;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 800px) and (max-height: 600px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 500px;
        height: 140px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 200px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        width: 300px;
        flex-direction: column;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 20px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        display: none;
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        width: max-content;
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        width: max-content;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: none;
        max-width: 450px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: none;
    }

}
@media screen and (max-width: 428px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 380px;
        height: 150px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 130px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        width: 300px;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 18px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        display: none;
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        width: fit-content;
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        width: max-content;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: none;
        max-width: 450px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: none;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 414px) and (max-height: 900px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 380px;
        height: 150px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 130px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        width: 300px;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 18px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        display: none;
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        width: fit-content;
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        width: max-content;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: none;
        max-width: 450px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: none;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 384px) and (max-height: 854px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 355px;
        height: 150px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 130px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        width: 300px;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 18px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        max-width: fit-content;
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        width: max-content;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: none;
        max-width: 450px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: none;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
@media screen and (max-width: 375px){
    .cardContainer {
        display: flex;
        background-color: rgb(247, 247, 247);
        width: 350px;
        height: 150px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        border: 1px #cbd6dc solid;
        transition: 0.3s;
    }
    
    .cardContainer:hover {
        box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    }
    
    .imgCard {
        max-width: 130px;
        height: 100%;
        object-fit: cover;
    }
    
    .allTextCardContainer {
        display: flex;
        width: 300px;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .cardTitleContainer {
        display: flex;
        font-size: 18px;
        margin-left: 12px;
        width: 100%;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    .cardDealsContainer{
        display: flex;
        margin-left: 9px;
        font-weight: 600;
    }
    
    .cardTextDeal{
        margin-left: -11px;
    }
    
    .cardHeadersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        margin-left: 13px;
    }
    
    .cardText {
        display: none;
    }
    
    .cardTextLocation{
        width: max-content;
        display: flex;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 14px;
    }
    
    .cardTextPrice {
        display: flex;
        width: max-content;
        font-weight: 600;
        color: #d50000;
    }
    
    .cardDescContainer {
        display: none;
        max-width: 450px;
        height: 100%;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    
    .heightIcon {
        display: none;
    }
    
    .cardTitle {}
    
    .cardDescription {}
}
